/* ==== Font import ====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* ==== Variables ==== */
:root {
    --text-nunito-sans: Nunito Sans, sans-serif; /* Nunito Sans */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Ser till så att bilderna får korrekt storlek och deras rörelse animeras */
/* När ni sätter intervallen efter vilken pokemonen får sin nya position bör den intervallen överensstämma med tiden här. 3s. */
img {
    width: 300px;
    transition: all 3s linear;
}

body {
    color: #ddd;
    height: 100vh;

    background-image: url(../assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrapper {
    max-width: 400px;
    width: 100%;

    font-family: var(--text-nunito-sans);
    text-align: center;

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    border-radius: 15px;

    background-color: rgba(230, 248, 247, 0.05);

    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.288);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.form {
    padding: 3rem;
}

.form__heading {
    font-size: 24pt;
    font-weight: 800;
    margin-bottom: 2rem;
}

.form__sub-heading {
    font-size: 14pt;
    margin-bottom: 0.8rem;
}

.form__text {
    margin-top: 1.5rem;
}

label {
    cursor: pointer;
    margin: 0.8rem;
    display: inline-block;
}

.form__input-field {
    padding: 0.5rem;
    padding-left: 0.8rem;
    margin: 0.2rem;
    margin-bottom: 0.8rem;
    border: 2px solid #ddd;
    border-radius: 100px;
    font-size: 1rem;
}

.form__btn,
.game-field__btn {
    background: #54a429;
    color: white;
    border: none;
    padding: 20px;
    font-size: 1rem;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    margin-top: 15px;
}
.form__btn:hover,
.game-field__btn:hover {
    background-color: #457c28;
}

.form__error-msg {
    color: red;
    font-style: italic;
}

.game-field {
    color: #ddd;
    height: 100vh;
    width: 100%;

    background-image: url(../assets/arena-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
}

.high-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 10;

    max-width: 400px;
    width: 100%;

    font-family: var(--text-nunito-sans);
    text-align: center;

    border: 1px solid rgba(150, 150, 150, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    border-radius: 15px;

    background-color: rgba(40, 36, 236, 0.589);

    box-shadow: 0px 4px 24px 1px rgba(10, 3, 3, 0.288);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    padding: 4rem;
}

.high-score__heading {
    font-size: 2.2rem;
    font-weight: 800;
}

.high-score__highscore-heading {
    font-size: 1.5rem;
}

.high-score__sub-heading {
    font-size: 1.5rem;
}

.high-score__list-heading-section {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.highscore-list {
    width: 100%;
}

.highscore-list__item {
    display: flex;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.high-score-list__line {
    margin: 1rem;
    margin-top: 0.5rem;
    width: 100%;
}

.high-score__list-heading {
    font-size: 16pt;
    font-weight: 800;
}

li {
    width: 100%;
}

.d-none {
    display: none;
}
